body{
    background-color: rgba(73, 64, 64, 0.882);
    display: flex;
    justify-content: center;
    align-items: center;
}


.stopwatch-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    gap: 0px;
}

p{
    font-size: 3rem;
    color: rgba(251, 247, 242, 0.863);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

button{
    padding: 10px 20px;
    font-size: 1.8rem;
    background-color: rgb(73, 46, 46);
    color: rgba(255, 255, 255, 0.863);
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgb(34, 32, 32);
}

button:hover{
    cursor: pointer;
}

.buttons{
    display: flex;
    gap: 20px;
}