html {
      background-color: #DDBEAA;
      height: 100vh;
}

body {
      height: 100vh;
      margin: 0;
      padding: 20px;
}

.main-container {
      height: 100%;
      display: flex;
      justify-content: center;
}

a {
      text-decoration: none;
      color: black;
      font-size: 1.3em;
      display: flex;
}

a:visited {
      color: black
}

header {
      display: flex;
      justify-content: center;
}

main {
      display: flex;
}
