html {
      background-color: #DDBEAA;
      height: 100vh;
}

body {
      height: 100vh;
      margin: 0;
      padding: 20px;
}

.main-container {
      height: 100%;
      display: flex;
      justify-content: center;
}

a {
      text-decoration: none;
      font-size: 1.3em;
      font-weight: bold;
      display: flex;
}

header {
      display: flex;
      justify-content: center;
}

main {
      display: flex;
}

.red {
      color: rgba(255, 0, 0, 0.558);
}

.blue {
      color: rgba(0, 0, 255, 0.514);
}

.yellow {
      color: rgba(237, 237, 2, 0.803);
}